In [1]:
10<100

True

In [2]:
100 !=100

False

In [3]:
50 >= 50

True

task

In [7]:
age = int(input("enter your age :"))

enter your age :20

In [8]:
age<18

False

age < 21

In [10]:
age < 31

True

task

In [12]:
"a" < "b"

True

In [13]:
"b" < "a"

False

In [14]:
"John" < "Terry"

True

Task

In [16]:
"john" < "Terry"

False

In [22]:
[1,2,3] < [1,2,3]

False

In [18]:
[1,2,2] < [1,2,3]

True

task

In [23]:
 5 < 10.2

True

In [24]:
5 <" Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [25]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
5 == "5" #Python allows mixed operand types within equality (==) and inequality (!=)operators.

False

In [28]:
age == input("enter your age :")

enter your age :18

False

task

In [29]:
age =  30
age >= 18 and age <=65

True

In [30]:
age <18 or age >65

False

In [31]:
not age > 18

False

In [32]:
age = 30
(age >= 18 and age <=65) and (not age==30)

False

task

In [33]:
weight = float(input("enter the weight :"))
height = float(input("enter the height :"))

enter the weight :50
enter the height :36.5

In [34]:
100 < weight and weight <200

False

In [35]:
height > 131 and height < 160

False

task

In [1]:
names = ["kajal", "kritisha", "kismat"]
"kritisha" in names

True

In [2]:
"kismat" not in names

False

In [3]:
"iti" in names

False

In [4]:
name = "hello world"
"wor" in name

True

In [ ]:
age = int(input("enter your age :"))
if 18<age<30:
    print("your are still young.")

task

In [12]:
if age > 100:
    print("you are very old,")
    print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif age > 40:
    print("you are middle aged")
    print("never mind")
else:
    print("you are not very old - yet")

you are not very old - yet

In [15]:
age = int(input("please say your age :"))
if age > 100:
    print("you are too old .")
elif 30<age<40:
    print("you are between 30 and 40")
else:
    print("you are still young darling")

please say your age :32
you are between 30 and 40

task

In [11]:
name = input("enter the name:")
if name=="kajal":
    print("your name is",name)
else:
    print("error")

enter the name:
error

task

In [3]:
age = int(input("enter your age :"))
print("you are an adult" if age >=18 else "you are not an adult ,yet!")

enter your age :16
you are not an adult ,yet!

In [21]:

for names in [" eric "," james "," bond "," thapa "]:
    print(names)

 eric
 james
 bond
 thapa

In [26]:
for n in range(2,12,2):
    print(n,"to the power of",n , "=",n**n)

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [30]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    print(i)

10
20
30
90
200
30
22
11

In [31]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    if i >100:
        break
    else:
        print(i)

10
20
30
90

In [39]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    if i<=100:
        print("all the numbers are processed:",i)
        
    else:
        continue

all the numbers are processed: 10
all the numbers are processed: 20
all the numbers are processed: 30
all the numbers are processed: 90
all the numbers are processed: 30
all the numbers are processed: 22
all the numbers are processed: 11

task

an expression that produces a Boolean value (ie.true or false)when evaluated

a operator that tests or defines some kind of relation between two entities.

 an operator that performs a logical conjunction on two statements. eg: and,or,not

allows us to access the value of a property located deep within a chain of objects without explicitly checking if each reference in the chain is null or undefined .

used to return a value based on a condition , ﬁrst value is returned if the condition expression evaluates to True, and
the second value is returned if it evaluates to False

repetition of the process.

loops within the loop.